<div class='container'>
  <div class='row main'>
    <div class='col-md-10 offset-md-1'>
      <div class='row'>
        <div class='col-md-2 offset-md-2 col-4 text-sm-center'>
          <%= image_tag '/logo.png', class: 'img-fluid'%>
        </div>

        <div class='col-md-6 col-8'>
          <h2 class='title'>Converta suas moedas instantaneamente!</h2>
        </div>
      </div>

      <div class= 'bloco_exchange' >  
        <%= render 'shared/exchange_box' %>
      </div>
    </div>
  </div>
</div>