.exchange_box{
  #switch-currency{
    color: #ffffff;
  }

  .currency{
    .form-group{
      margin: 0;
    }

    select {
      border-radius: 0.25rem 0.25rem 0 0;
    }
  
    input{
      border-radius: 0 0 0.25rem 0.25rem;
      border-top: none;
    } 
  }
}

@media only screen and (max-width : 992px) {
  .card-header {
    font-size: 25px;
  }

  .title{
    margin-top: 30px;
    font-size: 20px;
  }
    
  .form-group {
    select {
      font-size: 20px;
      height: 50px !important;
    }

    input {
      font-size: 20px;
      height: 50px;
    }
  }


  #result {
    margin-bottom: 20px;
  }

  .btn-exchange {
    font-size: 20px;
  }
}