.exchange_box{
  #switch-currency{
    cursor: pointer;

    img{
      width: 60%;
    }
  }

  .currency{
    .form-group{
      margin: 0;
    }

    select {
      border-radius: 0.25rem 0.25rem 0 0;
    }
  
    input{
      border-radius: 0 0 0.25rem 0.25rem;
      border-top: none;
    } 
  }
}

@media only screen and (max-width : 767px) {
  .title{
    margin-top: 15px;
    font-size: 24px;
  }

  #switch-currency img{
    margin: 20px 0px;
    transform: rotate(90deg);
  }
}