body {
  background: image-url("/background-img.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

.main{
  margin-top: 15vh;
}

.title{
  color: white;
  text-shadow: 3px 0px 3px #000000;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.bloco_exchange{
  margin-top: 30vh;
}

@media only screen and (max-width : 767px) {
  .bloco_exchange{
    margin-top: 15vh;
  }
}
